.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    margin-top: 150px;
}

.about-title {
    position: relative;
}

.about-title h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-para p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    color: #f5f5f5;
    max-width: 700px;
    margin: 0 auto;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.portfolio-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.portfolio-section h2 {
    font-size: 1.8rem;
    color: #333;
    margin: 0;
}

.github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    transition: transform 0.2s, background-color 0.2s;
}

.github-button:hover {
    transform: scale(1.2);
    background-color: #6e5494;
    /* GitHub purple on hover */
}