.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    flex-wrap: wrap;
}

.navbar img {
    height: 60px;
    width: 70px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-menu a:hover {
    color: #DF8908;
}

.nav-menu a.active {
    color: #B415FF;
    font-weight: bold;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #b923e1);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.nav-connect:hover {
    transform: scale(1.05) translateZ(0);
    /* smooth scaling */
    transition: transform 0.2s ease;
}







@media (max-width: 1024px) {
    .navbar {
        padding: 20px 3%;
    }

    .nav-menu {
        gap: 40px;
        font-size: 18px;
    }

    .nav-connect {
        padding: 15px 30px;
        font-size: 20px;
    }
}

/* Mobile devices */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .nav-connect {
        align-self: center;
        width: 90%;
        text-align: center;
        padding: 15px 0;
        font-size: 20px;
    }
}