.footer {
    margin: 50px 10px;
    /* overflow-x: hidden; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-top-left img {
    height: 50px;
    width: 50px;
    position: relative;
    top: 30px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-top-right img {
    height: 25px;
    width: 25px;
}

.footer-email-input {
    display: flex;
    gap: 15px;
    padding: 18px 40px;
    border-radius: 50px;
    background: #32323B;
    border: 2px solid white;

}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe {
    font-size: 18px;
    padding: 18px 40px;
    border-radius: 50px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.footer-bottom-left {
    color: #A0A0A0;
}

.footer-bottom-right {
    display: flex;
    gap: 70px;
    transform: translateX(-20px);
}

.footer-bottom-right p {
    color: #A0A0A0;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-bottom-right p:hover {
    color: #DF8908;
    transform: scale(1.05);
}



.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.3s;
}